{% extends 'base.html.twig' %}

{% block title %}WeatherForecast index{% endblock %}

{% block body %}
    <h1>WeatherForecast index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Wind_speed</th>
                <th>Cloudiness</th>
                <th>Temperature</th>
                <th>Air_quality</th>
                <th>Humidity</th>
                <th>Pressure</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for weather_forecast in weather_forecasts %}
            <tr>
                <td>{{ weather_forecast.id }}</td>
                <td>{{ weather_forecast.description }}</td>
                <td>{{ weather_forecast.windSpeed }}</td>
                <td>{{ weather_forecast.cloudiness }}</td>
                <td>{{ weather_forecast.temperature }}</td>
                <td>{{ weather_forecast.airQuality }}</td>
                <td>{{ weather_forecast.humidity }}</td>
                <td>{{ weather_forecast.pressure }}</td>
                <td>{{ weather_forecast.date ? weather_forecast.date|date('Y-m-d') : '' }}</td>
                <td>
                    {% if is_granted("ROLE_WEATHER_FORECAST_SHOW") %}
                        <a href="{{ path('app_weather_forecast_show', {'id': weather_forecast.id}) }}">show</a>
                    {% endif %}
                    {% if is_granted("ROLE_WEATHER_FORECAST_EDIT") %}
                        <a href="{{ path('app_weather_forecast_edit', {'id': weather_forecast.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_WEATHER_FORECAST_NEW") %}
        <a href="{{ path('app_weather_forecast_new') }}">Create new</a>
    {% endif %}
{% endblock %}
