{% extends 'base.html.twig' %}

{# @var location \App\Entity\Location #}
{# @var weather \App\Entity\WeatherForecast #}

{% block title %}Weather in {{ location.name }}, {{ location.countryCode }}{% endblock %}

{% block body %}
<main>
    <h1>Weather in {{ location.name }}, {{ location.countryCode }}</h1>

    <u1>
        {% for forecast in forecasts %}
            <li>{{ forecast.date|date('d.m.Y') }}: {{ forecast.temperature }}&deg;C</li>
        {% endfor %}
    </u1>
</main>
{% endblock %}
